@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #716DC2;
    overflow: hidden;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #BC9AFF;
    clip-path: circle(50% at bottom right);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .logo{
    position: relative;
    max-width: 70px;
}
header .navegation ul{
    position: relative;
    display: flex;
}
header .navegation  li{
    list-style: none;
}
header .navegation li a{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: 19px;
    margin-left: 100px;
}
.content{
    position: relative;
    width: 200%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .text{
    position: relative;
    max-width: 300px;
    margin-right: 20px;
}

.sinaisimg{
    width: 100%;
    height: 100%;
    align: center;
    z-index: 2;
    margin-top: 40px;
}

.content .text h3{
    color: #fff;
}
.content .text span{
    font-size: 3.5em;
    color: white;
}
.content .text p{
    color: #fff;
}
.content .text a{
    display: inline-block;
    margin-top: 50px;
    padding: 10px 25px;
    background: white;
    color:black;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}
.content .text a:hover{
    transform: translateY(-10px);
}
/*.icons{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons li{
    list-style: none;
}
.icons li a{
    display: inline-block;
    margin-left: 45px;
    background: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition:  0.3s ease-in-out;
}
.icons li a:hover{
    background: white;
    transform: translateY(-10px);
}
.icons li a img{
    filter: invert(1);
    transform: scale(0.5);
}
.boxImg{
    position: absolute;
    right: 0;
    bottom: -40px;
}
.boxImg img{
    width: 200px;
}
.boxImg .img1{
    transform: rotate(-15deg)
}
.boxImg .img2{
    transform: rotate(5deg)
}
.boxImg .img3{
    transform: rotate(15deg)
}
.boxImg .img4{
    transform: rotate(-15deg)
}*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 50px auto;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.container h2 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"],
.container input[type="tel"],
.container textarea {
    justify-content: center;
    align-items: center;
    width: 85%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 100px;
}

.container textarea {
    resize: none;
}

.container input[type="checkbox"] {
    margin-right: 5px;
}

.container input[type="submit"] {
    justify-content: center;
    align-items: center;
    background-color: #56AAF0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
}

.container input[type="submit"]:hover {
    background-color: #3576C6;
}